/* exo-2-100 - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-100.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-100.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-100.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-100.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-200 - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-200.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-200.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-200.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-300 - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-300.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-regular - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-regular.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-500 - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-500.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-600 - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-600.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-700 - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-700.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-800 - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-800.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-800.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-800.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-900 - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-900.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-100italic - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 100;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-100italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-100italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-100italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-100italic.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-200italic - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 200;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-200italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-200italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-200italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-200italic.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-300italic - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-300italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-300italic.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-italic - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-italic.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-500italic - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-500italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-500italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-500italic.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-600italic - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 600;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-600italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-600italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-600italic.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-700italic - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-700italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-700italic.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-800italic - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 800;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-800italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-800italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-800italic.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* exo-2-900italic - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 900;
    src: url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-900italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-900italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/exo-2-v10-latin-ext_latin_cyrillic-900italic.svg#Exo2') format('svg'); /* Legacy iOS */
}