@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: local('☺'),
        url(Poppins_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v5/pxiGyp8kv8JHgFVrJJLucHtG.woff */
        url(Poppins_400_italic.ttf) format('truetype'); /* http://fonts.gstatic.com/s/poppins/v5/pxiGyp8kv8JHgFVrJJLucHtFOvWDSA.ttf */
        /*url(Poppins_400_italic.svg#Poppins_400_italic) format('svg'); !* {{svg-gf-url}} *!*/
}
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: local('☺'),
        url(Poppins_500_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v5/pxiDyp8kv8JHgFVrJJLmg1hVF9eI.woff */
        url(Poppins_500_italic.ttf) format('truetype'); /* http://fonts.gstatic.com/s/poppins/v5/pxiDyp8kv8JHgFVrJJLmg1hVF9eLYktMqg.ttf */
        /*url(Poppins_500_italic.svg#Poppins_500_italic) format('svg'); !* {{svg-gf-url}} *!*/
}
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    src: local('☺'),
        url(Poppins_600_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v5/pxiDyp8kv8JHgFVrJJLmr19VF9eI.woff */
        url(Poppins_600_italic.ttf) format('truetype'); /* http://fonts.gstatic.com/s/poppins/v5/pxiDyp8kv8JHgFVrJJLmr19VF9eLYktMqg.ttf */
        /*url(Poppins_600_italic.svg#Poppins_600_italic) format('svg'); !* {{svg-gf-url}} *!*/
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('☺'),
        url(Poppins_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfedA.woff */
        url(Poppins_400_normal.ttf) format('truetype'); /* http://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfed3FHGPc.ttf */
        /*url(Poppins_400_normal.svg#Poppins_400_normal) format('svg'); !* http://fonts.gstatic.com/l/font?kit=pxiEyp8kv8JHgFVrJJfedQ&skey=87759fb096548f6d&v=v5#Poppins *!*/
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local('☺'),
        url(Poppins_500_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff */
        url(Poppins_500_normal.ttf) format('truetype'); /* http://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1xlEN2JQEk.ttf */
        /*url(Poppins_500_normal.svg#Poppins_500_normal) format('svg'); !* {{svg-gf-url}} *!*/
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local('☺'),
        url(Poppins_600_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z1xlEw.woff */
        url(Poppins_600_normal.ttf) format('truetype'); /* http://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z1xlEN2JQEk.ttf */
        /*url(Poppins_600_normal.svg#Poppins_600_normal) format('svg'); !* {{svg-gf-url}} *!*/
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local('☺'),
        url(Poppins_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff */
        url(Poppins_700_normal.ttf) format('truetype'); /* http://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1xlEN2JQEk.ttf */
        /*url(Poppins_700_normal.svg#Poppins_700_normal) format('svg'); !* {{svg-gf-url}} *!*/
}
