PROJECT_NAME=partymeister-template

PORT_WEBSERVER=40400
PORT_WEBSERVER_SSL=40401
PORT_WEBSOCKET=60020

HOSTNAME=partymeister-template.mydomain.com
EMAIL=info@tastatur-und-maus.net

DB_CONTAINER_NAME=mysql-80_db
CONTAINER_NAME=partymeister-template_webserver
DB_ROOT_PASSWORD=x5MrTz8UnBi6RqYiHWtA
DB_NAME=partymeister-template
