@import '~partymeister-frontend/resources/assets/sass/partymeister-frontend';

// Revision 2019
@import url("//use.typekit.net/gsc8zsi.css");
@import url("//fonts.googleapis.com/css2?family=Work+Sans");

body, p, li, a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #7381ff;
  background-color: black;
}

label {
  color: #7381ff !important
}

.medium-12, .medium-6 {
  margin-top: 20px;
}

.card {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Work Sans", sans-serif !important;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
  }
  .button {
    background-color: black !important;
    border: 1px solid #7381ff;
    color: #7381ff !important;
  }
  .button:hover {
    background-color: white !important;
    color: black;
  }
  background-color: black;
  border: 5px solid #7381ff !important;
}

input, select, textarea, button {
  background-color: black !important;
  border: 1px solid #7381ff !important;
  color: #7381ff !important;
}

select option:hover,
select option:focus,
select option:active,
select option:checked {
  background: white;
  color: black !important;
  border: 1px solid #7381ff !important;
}

a:hover {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'trasandina', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-style: normal;
  color: #7381ff !important;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}
.grid-container {
  padding-top: 50px;
}

.main-content {
  padding-right: 50px;
}

.dropdown {
  background-color: black;
}

.title-bar {
  color: #7381ff !important;
}

.menu {
  .menu-text {
    width: 200px;
    height: 100%;
    padding: unset;
    padding-right: 20px;
    padding-top: 8px;
    margin-left: 20px;
  }
  .active {
    a {
      background: white;
      color: black;
    }
  }
}

input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + label::before {
  width: 15px;
  height: 15px;
  background-color: #000;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
  border: 1px solid #7381ff;
  margin-top: 4px;
}

input[type="checkbox"]:checked+label::before {
  background-color: white;
  border-color: white;
}

.form-control-upload::-webkit-file-upload-button {
  visibility: hidden;
}
.form-control-upload::before {
  content: "Select some files";
  display: inline-block;
  background-color: white;
  color: black;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 10pt;
}
.form-control-upload:hover::before {
  border-color: black;
}

.form-control-upload:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.callout.primary {
  background-color: black;
}

.callout.warning {
  background-color: black;
  color: #7381ff;
}

.button {
  font-family: "Work Sans", sans-serif;
  background-color: white !important;
  font-weight: 500;
  color: black !important;
}

.top-bar {
  padding: unset !important;
  background-color: black;
  ul {
    background-color: black;
    li {
      font-family: 'Work Sans', sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      color: #7381ff;
      a {
        font-family: 'Work Sans', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        color: #7381ff;
      }
    }
  }
}

.footer {
  background-color: black;
  color: #7381ff;
}

.breadcrumbs .disabled {
  color: #333;
}

//.button.success {
//  background-color: #52b9ef;
//}

table.unstriped tbody, table.unstriped tbody tr {
  background-color: transparent !important;
  border: none !important;
}
table.unstriped tbody td, table.inner-table tbody td {
  vertical-align: top;
}

table.inner-table tbody td {
  padding-top: 0 !important;
}
table.inner-table {
  margin-bottom: 0;
}
table.unstriped td, table.inner-table td {
  padding-bottom: 0;
}
ul.vertical.menu li a {
  padding: 0.4rem;
}

.component-entry-upload .card, .component-entry-screenshot .card {
  background-color: transparent;
  border: none;
}
.card-section unread {
  background-color: #ff00f0;
}
.special-vote-highlight {
  background-color: orange;
}
.partymeister-rating-wrapper {
  background-color: orange;
}
.button.warning.special-vote-off {
  background-color: red;
}

.footer {
  height: 5rem;
  //color: #fff;
  padding: 1rem;
}

.footer .menu a {
  margin-top: 0.25rem;
}
.footer .menu a:hover {
  text-decoration: underline;
}
@import '~foundation-datepicker/scss/foundation-datepicker';

.datepicker table tr td span {
  display: block;
  width: 23%;
  height: 35px;
  line-height: 35px;
  float: left;
  margin: 1%;
  cursor: pointer;
}
