@import '~partymeister-frontend/resources/assets/sass/partymeister-frontend';

// Revision 2019
@import url(//fonts.googleapis.com/css?family=Anaheim);

@import url(//fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700);

body {
  background-color: #353b43;
  font-family: "Quattrocento Sans", sans-serif;
  color: #929ea9;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Quattrocento Sans", sans-serif;
  color: white;
  width: 100%;
}

p, li, a {
  font-family: "Quattrocento Sans", sans-serif;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

label {
  font-size: 1rem;
  color: #afbac4;
}

//body {
//  background: #ccc;
//}
//.top-bar, .top-bar ul {
//  background: #999;
//}

.top-bar ul li, .top-bar ul li a {
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

.breadcrumbs .disabled {
  color: #333;
}

//.button.success {
//  background-color: #52b9ef;
//}

table.unstriped tbody, table.unstriped tbody tr {
  background-color: transparent !important;
  border: none !important;
}
table.unstriped tbody td, table.inner-table tbody td {
  vertical-align: top;
}

table.inner-table tbody td {
  padding-top: 0 !important;
}
table.inner-table {
  margin-bottom: 0;
}
table.unstriped td, table.inner-table td {
  padding-bottom: 0;
}
ul.vertical.menu li a {
  padding: 0.4rem;
}

.component-entry-upload .card, .component-entry-screenshot .card {
  background-color: transparent;
  border: none;
}
.card-section unread {
  background-color: #ff00f0;
}
.special-vote-highlight {
  background-color: orange;
}
.partymeister-rating-wrapper {
  background-color: orange;
}
.button.warning.special-vote-off {
  background-color: red;
}

.footer {
  height: 5rem;
  background: #292f36;
  //color: #fff;
  padding: 1rem;
}

.footer .menu a {
  margin-top: 0.25rem;
  color: #333;
}
.footer .menu a:hover {
  text-decoration: underline;
}
@import '~foundation-datepicker/scss/foundation-datepicker';

.datepicker table tr td span {
  display: block;
  width: 23%;
  height: 35px;
  line-height: 35px;
  float: left;
  margin: 1%;
  cursor: pointer;
}

.button.success, .button.success.disabled, .button.success[disabled], .button.success.disabled:hover, .button.success[disabled]:hover, .button.success.disabled:focus, .button.success[disabled]:focus {
  background-color: #138788;
}

.button.success, .button.primary {
  background-color: #138788;
  color: white;
  text-transform: uppercase;
}

.button.success:hover, .button.primary:hover {
  background-color: #238788 !important;
  color: #0a0a0a;
}

a {
  transition: all .2s ease-in 0s;
  color: white;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus,
a:hover {
  color: #138788;
}
.main-content, .sidebar-content {
  padding: 0 10px;
}


.top-bar {
  justify-content: center;
}

.top-bar, .top-bar ul {
  background-color: #1d2024 !important;
}

.top-bar ul li a {
  color: white;
}

.menu > .active > a,
.menu > .is-active > a {
  background-color: #138788;
}

.card {
  background: none;
  background-color: transparent;
  color: #929ea9;
}

.card.special-vote-highlight {
  background-color: #68afaf;
}

.card.special-vote-highlight p, .card.special-vote-highlight li {
  color: white;
}

.button {
  text-transform: uppercase;
}
.callout.warning,
.button.warning.special-vote-off {
  background-color: #cc8246;
}


.error-content {
  color: white !important;
  background-color: #c84b4b;
}
.error-content a:hover {
  color: black;
}